.background-img {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
}

.center-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.background-img1 {
    background: url('../../../assets/Triangle.svg')   no-repeat center;

}

.background-img2 {
    background: url("../../../assets/Triangle Glow (1).svg")   no-repeat center;
    width: 100%;
    height: 100%;
}

.background-shadow {
    background: url('../../../assets/Shadow.svg')  no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-shadow img {
    margin-right: 70px;
}

.left-block, .right-block {
    position: absolute;
}

.right-block {
    width: 312px;
    height: 166px;
}
