.swiper-wrapper {
box-sizing: border-box;
}

.swiper-slide {
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 0 20px;
    display: flex;
    width: 310px ;
}



.my-swiper {
    height: 100%;
}

.swiper-slide-active {
    text-align: center;
    flex-direction: column;
    font-size: 16px;
    justify-content: space-around;
    align-items: flex-end;
    width: 275px ;
    color: white;
    display: flex;
    padding: 0 20px;
}

.swiper-pagination-bullet {
    background: grey;
}
.swiper-pagination-bullet-active {
    background: white;
}

.swiper-button-prev, .swiper-button-next{
    color: #C445F4;
}
.swiper-button-disabled {
    display: none;
}

.swiper-slide-prev, .swiper-slide-next {

}

@media (max-width: 1030px) {
    .swiper-slide-active {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 550px) {
    .swiper-slide-active {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}
