@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}
html,body {
  background-color: #292929 !important;
  height: 100vh;
  width: 100%;
}

a{
  text-decoration: none;
}